# Vendor
/vendor/

# IDEs
.idea/
.vscode/

# Logs
*.log
/storage/logs/*.log
!/storage/logs/.gitkeep

# Environment variables
.env

# Cursor
.cursor/
.cursorignore
.cursorrules
.gitmessage

# Backups
/storage/backups/*.sql

# Scripts
scripts/

# PHPUnit
.phpunit.cache/